* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


.timer {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-direction: row;
    color:black;
}

.input {
    width: 200px;
    height: 32px;
    border-radius: 7px;
    background: rgba(174, 226, 237, 0.653);
    border: none;
  
    text-align: center;
    color: black;
    font-weight: 600;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background: rgba(174, 226, 237, 0.653);
    color: black;
  
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}